<section class="comment-card">
    <section class="comment-card-inside">
        <header class="card-description">{{description}}</header>
        <p class="card-username">Commented by: {{User.username}}</p>
    </section>
</section>