<section class="card">
    <a class="card-tag" href="/edit/{{id}}">
        <header class="card-description">{{description}}</header>
        <p class="card-time">Created on: {{time_created}}</p>
        <p class="card-username">Created by: {{User.username}}</p>
    </a>
</section>