<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Tech Blog</title>
</head>
<body>
    <header id="main-header">
        <nav id="main-nav">
            <a id="home-tag" href="/">Home</a>
            <a id="dashboard-tag" href="/dashboard">Dashboard</a>
            {{#if loggedIn}}
            <button id="logout" class="button-tag">Logout</button>
            {{else}}
            <a id="login-tag" href="/login">Login</a>
            {{/if}}
        </nav>
        <section id="main-section-title">
            <h1 id="main-title">Tech Blog</h1>
        </section>
    </header>
    <main id="main-main">
        <div id="main-body">
            {{{body}}}
        </div>
    </main>
    {{#if loggedIn}}
    <script src="/js/logout.js"></script>
    {{/if}}
</body>
</html>