<section>
    <h2>Login</h2>
    <form>
        <section>
            <label for="username-login">Username:</label>
            <input class="form-input" type="text" id="username-login">
        </section>
        <section>
            <label for="password-login">Password:</label>
            <input class="form-input" type="text" id="password-login">
        </section>
        <section>
            <button type="submit">Login</button>
        </section>
    </form>
</section>
<section>
    <h2>Signup</h2>
    <form>
        <section>
            <label for="username-signup">Username:</label>
            <input class="form-input" type="text" id="username-signup">
        </section>
        <section>
            <label for="password-signup">Password:</label>
            <input class="form-input" type="text" id="password-signup">
        </section>
        <section>
            <button type="submit">Signup</button>
        </section>
    </form>
</section>

<script src="./js/login.js"></script>