<section id="login-signup">
    <form class="form login-form">
        <h2 class="form-h2">Login</h2>
        <section class="form-sec">
            <label for="username-login">Username:</label>
            <input class="form-input" type="text" id="username-login">
        </section>
        <section class="form-sec">
            <label for="password-login">Password:</label>
            <input class="form-input" type="text" id="password-login">
        </section>
        <section class="btn-sec">
            <button class="button-tag" type="submit">Login</button>
        </section>
    </form>
    <form class="form signup-form">
        <h2 class="form-h2">Signup</h2>
        <section class="form-sec">
            <label for="username-signup">Username:</label>
            <input class="form-input" type="text" id="username-signup">
        </section>
        <section class="form-sec">
            <label for="password-signup">Password:</label>
            <input class="form-input" type="text" id="password-signup">
        </section>
        <section class="btn-sec">
            <button class="button-tag" type="submit">Signup</button>
        </section>
    </form>
</section>

<script src="/js/login.js"></script>