<section class="card">
    <section class="card-tag">
        <header class="card-description">{{post.description}}</header>
        <p class="card-time">Created on: {{post.time_created}}</p>
        <p class="card-username">Created by: {{post.User.username}}</p>
    </section>
</section>
<section class="comment-sec">
    {{#each post.Comments}}
    {{> comment-details}}
    {{/each}}
</section>
{{#if loggedIn}}
<section id="add-comment">
    <form class="comment-form">
        <section class="input-text">
            <label class="comment-label" for="comment">Add a comment:</label>
            <input class="form-input" type="text" id="comment-input">
        </section>
        <section>
            <button class="button-tag" type="submit">Comment</button>
        </section>
    </form>
</section>
{{else}}
<a href="/login">Login to Comment</a>
{{/if}}

{{#if loggedIn}}
<script src="/js/comment.js"></script>
{{/if}}