<section class="post">
    <header>{{post.User.username}}</header>
    <section>
        <p>{{post.description}}</p>
        <p>{{post.time_created}}</p>
    </section>
    {{#each post.Comments}}
    {{> comment-details}}
    {{/each}}
    {{#if loggedIn}}
    <section>
        <form class="comment-form">
            <section>
                <label for="comment">Add a comment:</label>
                <input class="form-input" type="text" id="comment-input">
            </section>
            <section>
                <button type="submit">Comment</button>
            </section>
        </form>
    </section>
    {{else}}
    <a href="/login">Login to Comment</a>
    {{/if}}
</section>

{{#if loggedIn}}
<script src="/js/comment.js"></script>
{{/if}}