:root {
    --main-background: rgb(159, 117, 117);
    --sec-background: rgb(101, 37, 37);
    --sec-text: white;
    --card-background: rgb(164, 140, 109);
    --card-sec-back: rgb(209, 201, 190);
    --border: 1px solid black;
}

body {
    background: var(--main-background);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#main-header {
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
}

#main-nav {
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#main-section-title {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 40%;
}

#main-title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    padding: 2%;
    border-radius: 10px;
    background: var(--sec-background);
    color: var(--sec-text);
}

#home-tag, 
#dashboard-tag, 
.button-tag, 
#login-tag {
    font-size: 24px;
    text-decoration: none;
    padding: 1%;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    background-color: var(--sec-text);
    color: var(--sec-background);
}

#home-tag:hover, 
#dashboard-tag:hover, 
.button-tag:hover, 
#login-tag:hover {
    color: red;
}

#main-main {
    height: 80vh;
}

#main-body {
    height: 80vh;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: var(--sec-text);

}

.card {
    width: 60%;
    height: 20%;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    padding: 5px 10px;
    background: var(--card-background);
}

.card:hover {
    box-shadow: 5px 5px var(--card-sec-back);
}

.card-tag {
    width: 90%;
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    background: var(--card-sec-back);
    color: var(--sec-background);
}

.card-description {
    font-size: 24px;

}

.card-time,
.card-username {
    font-size: 16px;
}

.comment-sec {
    width: 60%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}


.comment-card {
    width: 45%;
    height: 25%;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    padding: 5px 10px;
    background: var(--card-sec-back);
}

.comment-card-inside {
    width: 90%;
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    background: var(--card-background);
    color: var(--sec-text);
}

.add-comment,
.add-post {
    width: 60%;
    height: 20%;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    padding: 5px 10px;
    background: var(--sec-background);
}

.comment-form,
.post-form {
    width: 90%;
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;
    background: var(--main-background);
    color: var(--sec-text);
}

.input-text {
    height: 45%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.post-label,
.comment-label {
    font-size: 20px;
}

.form-input {
    height: 30%;
    width: 40%;
}

#login-signup,
.edit-post {
    border: var(--border);
    height: 90%;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    background: var(--sec-background);
}

.form {
    border: var(--border);
    height: 90%;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    background: var(--main-background);
}

.form-h2 {
    font-size: 42px;
    color: var(--sec-text);
}

.form-sec {
    width: 80%;
    height: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: var(--sec-text);
    background: var(--sec-background);
    border-radius: 10px;
    font-size: 24px;
}

.btn-sec {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    width: 20%;
}